@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}
.truncate {
    max-width: 200px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl; /* For right-to-left languages like Arabic */
    text-align: right; /* Align text to the right */
}
body {
	background-color: #9b59b6;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Noto Kufi Arabic', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
.Succeeded{
	font-style: italic;
	color:rgb(6, 118, 6);
	text-align: center;
}
.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 40px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control select {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control textarea {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 14px;
	padding: 10px;
	width: 100%;
	resize: none;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}
.form-control.success textarea {
	border-color: #2ecc71;
}
.form-control.success select {
	border-color: #2ecc71;
}
.form-control.error input {
	border-color: #e74c3c;
}
.form-control.error textarea {
	border-color: #e74c3c;
}
.form-control.error select {
	border-color: #e74c3c;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 50px;
	left: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
.form-btn{
    background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}


.btn-primary{
    background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: 'Noto Kufi Arabic', serif;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}





