<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mycss2.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="/transports">وزارة النقل</a>
        <a href="/health">وزارة الصحه</a>
        <a href="/waterandelec">وزارة الكهرباء و الماء</a>
        <a href="/not_classified">غير مصنفه</a>
        <a href="/stat">احصائيات</a>
    </nav>
    
    
{% block body %}{% endblock %}
</body>
</html>